.root {
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.list {
    height: 100%;
    overflow: scroll;
}

.floatingButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.projectForm {
    display: grid;
    gap: 10px;
}

.projectField {
    display: grid;
    gap: 4px;
}

.buttonsRow {
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: center;
}