.title {
    font-weight: 600;
    grid-area: title;
}

.description {
    grid-area: description;
}

.delete {
    grid-area: delete;
}

.root {
    padding: 10px 5px;
    display: grid;
    grid-template-areas:
        "title edit"
        "description delete";
    grid-template-columns: 1fr min-content;
}

.root:focus-visible {
    box-shadow: 1px 0px 0px 2px var(--color-primary) inset;
    outline: none;
}

.root:hover, .root.selected {
    background: var(--color-primary);
    color: var(--color-text-accent);
}

.root:hover {
    cursor: pointer;
}

.root:active {
    box-shadow: inset 2px 2px 6px 2px rgba(0,0,0,0.45);
}